<div>
  <div class="front-end">
    <h1 class="text-3x2 font-bold underline text">Front-end</h1>
    <app-progress-bar
      name="React Native"
      precentage="70%"
      color="dark:bg-blue-400"
    ></app-progress-bar>
    <app-progress-bar
      name="JS/TS"
      precentage="60%"
      color="dark:bg-yellow-300"
    ></app-progress-bar>
    <app-progress-bar
      name="Angular"
      precentage="80%"
      color="dark:bg-red-500"
    ></app-progress-bar>
  </div>
  <div class="back-end">
    <h1 class="text-3x2 font-bold underline text">Back-end</h1>
    <app-progress-bar
      name="Node.js/Nest.js"
      precentage="80%"
      color="dark:bg-green-300"
    ></app-progress-bar>
    <app-progress-bar
      name="PHP"
      precentage="60%"
      color="dark:bg-purple-300"
    ></app-progress-bar>
    <app-progress-bar
      name="Express"
      precentage="80%"
      color="dark:bg-red-400"
    ></app-progress-bar>
    <app-progress-bar
      name="Python"
      precentage="60%"
      color="dark:bg-green-500"
    ></app-progress-bar>
  </div>
  <h1 class="text-3x2 font-bold underline text">Other</h1>
  <app-progress-bar
    name="SQL"
    precentage="80%"
    color="dark:bg-orange-400"
  ></app-progress-bar>
  <app-progress-bar
    name="MongoDB"
    precentage="80%"
    color="dark:bg-green-500"
  ></app-progress-bar>
  <app-progress-bar
    name="Git"
    precentage="80%"
    color="dark:bg-orange-300"
  ></app-progress-bar>
</div>
