<div class="">
  <div class="grid justify-end relative md:justify-center">
    <p class="text-7xl font-semibold drop-shadow-md font-mono">Karl Erik</p>
    <p class="text-6xl font-semibold font-mono text-right md:text-center">
      Voll
    </p>
  </div>
  <div class="grid absolute inset-x-0 bottom-1/4 md:px-96">
    <p class="font-mono text-center">PROJECTS</p>
    <p
      class="text-center border-y-2 my-1 border-black font-mono hover:animate-pulse cursor-pointer"
    >
      1. 0 .1 .1.1 . 2 .30
    </p>
    <p
      class="text-center border-y-2 my-1 border-black font-mono hover:animate-pulse cursor-pointer"
    >
      1. 0 .1 .1.1 . 2 .30
    </p>
    <p
      class="text-center border-y-2 my-1 border-black font-mono hover:animate-pulse cursor-pointer"
    >
      1. 0 .1 .1.1 . 2 .30
    </p>
  </div>
</div>
